.team {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
    position: relative;
}

.input-color {
    position: absolute;
    right: 3.125rem;
    top: 1.25rem;
    box-shadow: 0.3rem 0.3rem 0.3rem var(--cor-form-text);
}

.input-color:hover {
    box-shadow: 0.4rem 0.4rem 0.4rem var(--cor-form-text-hover);
    cursor: pointer;
    transform: translateY(-3px);
    filter: brightness(1.1);
    transition: all 0.3s ease;
}

.team h3 {
    font-weight: 400;
    color: var(--cor-form-text);
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-top: 1.3rem;
}

.collaborator__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

