.team {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
    position: relative;
}

.team h3 {
    font-weight: 400;
    color: var(--cor-form-text);
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-top: 1.3rem;
}

.category__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

