.category {
    width: 100%;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;
    font-size: 2rem;
}

.category h3 {
    font-weight: 400;
    color: var(--cor-form-text);
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 0.5rem;
    margin-top: 1.3rem;
}

.card__container {
    display: flex;
    overflow-x: auto;
    gap: 2rem;
    padding: 1rem;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin: 0 2rem;
}

.card__container::-webkit-scrollbar {
    height: 8px;
}

.card__container::-webkit-scrollbar-thumb {
    background-color: var(--color-blue-light);
    border-radius: 4px;
}

.card__container::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
}

.card {
    flex: 0 0 auto;
    width: 375px;
}
