.card {
    width: 375px;
    height: 264px;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.4);
}

.card__header {
    width: clamp(95%, 18vw, 340px);
    height: clamp(95%, 30vw, 250px); 
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 4px;
    box-shadow: inset 4px 6px 8px rgba(0, 0, 0, 0.4);
    background-color: rgb(21, 255, 0);
}

.card__img {
    aspect-ratio: auto;
    width: 100%;
    height: 100%; 
    padding: 0.5rem;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card__icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    gap: 1.5rem;
    font-size: 1rem;
    margin-top: 3px;
    border-radius: 0 0 10px 10px;
    height: 15%;
}

.card__icon-wrapper {
    display: flex;
    align-items: center;
    color: var(--color-white);
}

.card__icon {
    font-size: 1.5rem;
    cursor: pointer;
}

.card__icon-text {
    margin-left: 5px;
}

/* *Media Queries */
@media (max-width: 768px) {
    .card__header {
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 360px) {
    .card__header {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 95%;
    }
}