.card {
    width: 375px;
    height: 280px;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover {
    box-shadow: 4px 6px 8px rgba(0, 0, 0, 0.4);
}

.card__header {
    width: clamp(95%, 18vw, 340px);
    height: clamp(95%, 30vw, 250px); 
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 4px;
    box-shadow: inset 4px 6px 8px rgba(0, 0, 0, 0.4);
}

.card__img {
    aspect-ratio: auto;
    width: 100%;
    height: 100%; 
    padding: 0.5rem;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.card__icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1.5rem;
    font-size: 1rem;
    margin-top: 4px;
    border-radius: 0 0 10px 10px;
    height: 28%;
}

.card__icon-wrapper {
    display: flex;
    align-items: center;
    background-color: transparent;
}
.card__icon-wrapper:hover {
    color: var(--color-blue);
}
.card__icon {
    font-size: 1.5rem;
    cursor: pointer;
    background-color: transparent;
}

.card__icon-text {
    margin-left: 5px;
    background-color: transparent;
}

.card-icon-delete {
    color: var(--color-white);
}

.card-icon-delete:hover {
    color: var(--color-error);
}

.card-icon-edit {
    color: var(--color-white);
}

.card-icon-edit:hover {
    color: var(--color-brillo);
}

/* *Media Queries */
@media (max-width: 768px) {
    .card__container {
        margin: 0 ;
        padding: 0;
    }
    .card {
        width: 100%;
        height: 100%;
    }

    .card__icons {
        height: 100%;
        padding: 1rem;
    }
}