.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: auto; 
}

.modal-content {
    background: var(--color-bg-edit);
    border: 3px solid var(--color-frontend);
    padding: 20px;
    border-radius: 15px;
    max-width: 800px;
    width: 90%;
    max-height: 1074px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: visible;
    align-items: center;
    margin-top: auto;
}

.close-icon {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    font-size: 3.25rem;
    color: var(--color-white);
    background: var(--color-bg-edit);
}

.modal-content h1 {
    font-size: 3.75rem;
    margin-bottom: 20px;
    color: var(--color-blue-light);
    background: var(--color-bg-edit);
    overflow: hidden;
    width: 100%;
    max-width: 573px;
    align-self: center; 
    text-align: left;
}

.modal-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    background: var(--color-bg-edit);
    align-self: center; 
    text-align: left;
    max-width: 573px;
    width: 100%;
}

.modal-form label {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    color: var(--color-white);
    background: var(--color-bg-edit);
}

.modal-form-input {
    background: var(--color-bg-edit);
    color: var(--color-light-gray);
    margin-top: 1rem;
    border: 3px solid var(--color-blue-light);
    width: 100%;
    height: 3.875rem;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    resize: none;
    overflow: hidden;
    margin-bottom: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

.modal-form-input:focus {
    border-color: var(--color-frontend);
    outline: none;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    background: var(--color-bg-edit);
    width: 100%;
    max-width: 573px;
    font-size: 1.25rem;
}

.modal-buttons button {
    max-width: 11.258rem !important;
    max-height: 3.375rem !important;
    width: 100%;
    width: 100%;
    padding: 1rem 1.25rem;
    cursor: pointer;
    background: var(--color-black);
    border-radius: 10px;
    
}

.modal-button-save {
    color: var(--color-blue) ;
    border: 2px solid var(--color-blue-light);
    box-shadow: inset 0 0 15px 6px var(--color-button-shadow);
}

.modal-button-save:hover {
    filter: brightness(1.3);
}

.modal-button-delete {
    color: var(--color-white);
    border: 2px solid var(--color-white);
}

.modal-button-delete:hover {
    filter: brightness(1.3);
}