.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 2.5rem;
    background-color: var(--color-black);
    border-bottom: 4px solid var(--color-blue);
}

a{ text-decoration: none;}

.logoContainer{
    height: auto;
    display: flex;
    align-items: center;
    background-color: var(--color-black);
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-black);
}

.header img {
    align-self: start;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-black);
}

.menuIcon {
    display: none;
}

@media (max-width: 600px) {
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 5px;
        background-color: var(--color-dark-gray-border);
        padding: 1rem;
        border-radius: 5px;
        z-index: 10;
    }

    .navLinks.showMenu {
        display: flex;
        gap: 0.5rem;
    }

    .menuIcon {
        display: block;
        font-size: 1.5rem;
        color: var(--color-white);
        background-color: var(--color-dark-gray-border);
        cursor: pointer;
    }
}