.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.4rem 2.5rem;
    background-color: var(--color-dark-gray-border);
}
a{ text-decoration: none;}

.logoContainer{
    height: auto;
    display: flex;
    align-items: center;
}

.nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-dark-gray-border);
}

.header img {
    align-self: start;
}

.navLinks {
    display: flex;
    justify-content: space-around;
    background-color: var(--color-dark-gray-border);
}

.menuIcon {
    display: none;
}

@media (max-width: 600px) {
    .navLinks {
        display: none;
    }

    .menuIcon {
        display: block;
        font-size: 1.5rem;
        color: var(--color-white);
        background-color: var(--color-dark-gray-border);
    }
}