.layer {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;
    box-shadow: inset 0 10px 10px 0px var(--color-blue);
} 


.gradient {
    height: 100%;
    width: 100%;
    opacity: 0.7;
    background-color: var(--color-bg-edit);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.content, .title, .subtitle {
    color: var(--color-white-smoke);
    background-color: transparent;
    opacity: 1;
    z-index: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 4rem;
    width: 41.615rem;
    padding: 1.5rem 3rem 1.5rem 0;
    width: 100%;
}

.content, .name {
    font-size: clamp(2rem, 2.4vw, 3rem);
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: flex-start;
}

.name {
    border-bottom: 4px solid;
    padding-bottom: 0.5rem;
    background-color: transparent;
}

.title {
    font-size: clamp(1.25rem, 2.4vw, 2.875rem);
    font-weight: bold;
    margin-top: 1rem;
    padding: 0;
}

.subtitle {
    margin-top: 1rem;
    font-size: clamp(1rem, 1vw, 1.25rem);
    opacity: 0.7;
}

.containerBainner {
    width: 100%;
    height: 21rem;
    z-index: 1;
    border-radius: 15px;
    overflow-y: hidden;
    border: 4px double var(--color-white-smoke);
    box-shadow: 2px 5px 15px var(--color-black);
}

.container:hover {
    box-shadow: 2px 5px 10px var(--color-frontend);
}

.video {
    width: 40.487rem; 
    height: 100%;
}

@media (max-width: 768px) {
    .layer {
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .content {
        position: static;
        margin-bottom: 1.5rem;
        padding: 0;
    }

    .containerBainner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 18rem;
    }

    .subtitle {
        padding: 0;
    }

    .video {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 1024px) {
    .content {
        width: 100%;
        padding: 1rem;
    }
    .containerBainner {
        width: 100%;
    }
}